---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 lorem ipsum</h1>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolores dignissimos? Natus ullam, a ea amet recusandae debitis. Fuga, veniam! Eos iusto maxime voluptatibus eligendi voluptatum distinctio atque modi praesentium ullam? Aliquid veniam vel maiores excepturi voluptates omnis optio rem dolor sapiente voluptatem sunt velit quod amet maxime voluptatibus culpa incidunt quaerat, dolorum nam ipsam ullam eaque perferendis suscipit magni? Voluptates neque reprehenderit numquam suscipit ipsum maxime alias quia architecto pariatur, laboriosam blanditiis nisi dolorum soluta sequi animi beatae assumenda hic earum delectus officiis est. Rem blanditiis earum iure, nulla ea labore reiciendis tempore, maiores sequi necessitatibus corporis magnam fugiat.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolores dignissimos? Natus ullam, a ea amet recusandae debitis. Fuga, veniam! Eos iusto maxime voluptatibus eligendi voluptatum distinctio atque modi praesentium ullam? Aliquid veniam vel maiores excepturi voluptates omnis optio rem dolor sapiente voluptatem sunt velit quod amet maxime voluptatibus culpa incidunt quaerat, dolorum nam ipsam ullam eaque perferendis suscipit magni? Voluptates neque reprehenderit numquam suscipit ipsum maxime alias quia architecto pariatur, laboriosam blanditiis nisi dolorum soluta sequi animi beatae assumenda hic earum delectus officiis est. Rem blanditiis earum iure, nulla ea labore reiciendis tempore, maiores sequi necessitatibus corporis magnam fugiat.</p>
		</main>
		<Footer />
	</body>
</html>
